
    <!DOCTYPE html>
    <html lang="en">
    
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
      <title>Bug Portal</title>
    </head>
    
    <body>
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#"></a>
          </div>
          <ul class="nav navbar-nav">
            
            <li><a href="/portal"> Portal</a></li>
          </ul>
        </div>
      </nav>
    
        <div class="container">
            <h3>Project View And Manage</h3>
        </div>
    
        <div class="container" >
            <div class="row">
        
              <ul class="container">
                <a class="btn btn-primary text-center" href="/portal/project/new" role="button"> New Project</a>
                <br>
                <br>
                <br>
                <form method="POST" action="/portal/project/select">
                  <label for="pname">Select Project</label><br>
                  <select name="pname"  >
                  <% data.forEach(data => { %>
                    <option value= "<%= data.pname %>" ><%= data.pname %></option>
                  <% }) %>
                  </select>
                  <br>
                  <input type="Submit" value="Submit">
                </form>
    
        
              </ul>
            </div>
          </div>
    
          <br>
          <br>
          <br>
          <br>
      <div class="container">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">id</th>
                <th scope="col">Name</th>
                <th scope="col">Start Date</th>
                <th scope="col">Description</th>
              </tr>
            </thead>
            <tbody>
              <% data.forEach(project => { %>  
              <tr>
                <th scope="row">P-<%= project.id %></th>
                <td><%= project.pname %></td>
                <td><%= project.startdate %></td>
                <td><%= project.description %></td>
              </tr>
              <% }); %>
            
            </tbody>
          </table>
      </div>
    </body>
    
    </html>
      </div>
    </body>
    
    </html>