
    <!DOCTYPE html>
    <html lang="en">
    
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
      <title>Version Portal</title>
    </head>
    
    <body>
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#"></a>
          </div>
          <ul class="nav navbar-nav">
            
            <li><a href="/portal"> Portal</a></li>
          </ul>
        </div>
      </nav>
    
        <div class="container">
            <h3>Version View And Manage</h3>
        </div>
    
        <div class="container" >
            <div class="row">
        
              <ul class="container">
                <a class="btn btn-primary text-center" href="/portal/version/new" role="button"> Add version</a>
                <br>
                <br>
                <a class="btn btn-primary text-center" href="/portal/version/edit" role="button"> Edit version</a>
                <br>
                <br>
    
        
              </ul>
            </div>
          </div>
    
          <br>
          <br>
          <br>
          <br>
      <div class="container">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">id</th>
                <th scope="col">Name</th>
                <th scope="col">Version no</th>
                <th scope="col">Release Date</th>
                <th scope="col">Filled By </th>
                <th scope="col">Comment</th>
                <th scope="col">Total Active Bug</th>
                
              </tr>
            </thead>
            <tbody>
              <% data.forEach(version => { %>  
              <tr>
                <th scope="row">V-<%= version.id %></th>
                <td><%= version.vname %></td>
                <td><%= version.vno %></td>
                <td><%= version.releasedate %></td>
                <td><%= version.filername %></td>
                <td><%= version.comment %></td>
                <td><%= version.activebugs %></td>
              
              </tr>
              <% }); %>
            
            </tbody>
          </table>
      </div>
    </body>
    
    </html>
      </div>
    </body>
    
    </html>